#stbd {
    color: red;
    font-size: 30px;
    font-weight: bold;
}

#label,
#confidence {
    font-size: 25px;
    font-weight: bold;
}

#Score {
    float: left;
    padding-left: 5px;
    font-size: 25px;
    font-weight: bold;
}

#Timer {
    float: right;
    padding-right: 30px;
    font-size: 25px;
    font-weight: bold;
}

canvas {
    border: 5px solid white;
    border-radius: 20px;
    animation-name: example;
    animation-duration: 4s;
    margin-top: 75px;
    animation-iteration-count: infinite;

}

@keyframes example {
    from {
        box-shadow: 3px 3px red, -1em 0 .4em olive;
    }

    to {
        box-shadow: 3px 3px olive, -1em 0 .4em red;
    }
}

p {
    padding-top: 10px;
    font-size: 25px;
}